*,
*:before *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink: #F285B6;
    --green: #16B250;
    --blue: #4370B7;
    --yellow: #FDD811;
    --gray: #EEEDE8;
    --black: #333333;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    background-color: var(--gray);
    /* background-size: cover; */
    font-family: 'Matahari', 'Nunito', sans-serif;
}

.main-container {
    width: 100% !important;
    margin: 0 !important;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

input,
select,
textarea,
button {
    outline: 0;
}

h1 {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: normal;
    font-size: 47px;
}

h2 {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
}

h3 {
    font-family: 'Matahari';
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 25px;
}

/* Floating button */
.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: var(--blue);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    cursor: pointer;
    text-decoration: none;
}

/* Navbar */
.header {
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: var(--gray);
    box-shadow: 3px 3px 5px rgba(87, 88, 87, 0.726);
    z-index: 1000;
}

.header ul {
    width: 100%;
    list-style: none;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header li {
    height: 100px;
}

.header ul li a {
    font-family: 'Matahari';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    height: 100%;
    padding: 0px 100px;
    align-items: center;
    text-decoration: none;
    display: flex;
    color: var(--black);
}


.header ul li a:hover {
    color: var(--pink);
}

/* .header a.active {
    color: #B5D945;
} */

.header li:first-child {
    margin-right: auto;
}


.header li:last-child {
    margin-left: auto;
}

.logo-sexer-text {
    height: 50px;
    width: fit-content;
    src: url(../Assets/Sexer-logo.svg);
}

/* Navbar Sidebar */
.header .sexer-navbar-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    background-color: #fdfdfd;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.header .sexer-navbar-sidebar li {
    width: 100%;
}

.header .sexer-navbar-sidebar a {
    width: 100%;
}

.header .btn-menu {
    display: none;
}

@media(max-width: 1100px) {
    .header .hideonMobile {
        display: none;
    }

    .header .btn-menu {
        display: block;
    }
}

@media(max-width: 400px) {
    .header .sexer-nav bar-sidebar {
        width: 100%;
    }
}

/* Section: Introduction */
.sexer-intro {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: var(--gray);
    padding: 80px 120px;
    /* margin: 80px 120px; */
}

.sexer-intro .sexer-cards {
    width: fit-content;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Creates three equal columns */
    grid-gap: 10px;

    /* Space between grid items */
}

.intro-content {
    width: 654px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}

.intro-content h1 {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    color: var(--pink);
}

.intro-content p {
    font-family: 'Matahari';
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    font-size: 21px;
    text-align: justify;
    text-justify: inter-word;
    color: var(--black);
}

.intro-content .btn-play {
    font-family: 'Nunito';
    width: 196px;
    height: 70px;
    background-color: var(--yellow);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--black);
    padding: 10px 20px;
    border: solid black 2px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.slogan {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: normal;
    color: var(--green);
    padding: 80px 120px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    background-color: var(--gray);
}

.slogan .pink {
    color: var(--pink);
}

/* Section: Gallery */
.sexer-gallery {
    width: 100%;
    min-height: 100vh;
    background-color: var(--gray);
    padding: 60px;
}

.sexer-gallery .photo-2 {
    margin-left: 20px;
}

.sexer-gallery .photo-3 {
    margin-left: 330px;
    margin-top: 20px;
}

.sexer-gallery .icon-flower {
    position: relative;
    z-index: 2;
    right: 650px;
    bottom: 300px;
}

.sexer-gallery .icon-tree {
    z-index: 4;
    position: relative;
    right: 300px;
}

.sexer-gallery .icon-sun {
    width: 189px;
    height: 189px;
    position: relative;
    z-index: 3;
    bottom: 750px;
    right: 100px;

}

/* Section: What people saying? */
.sexer-review {
    min-height: 100vh;
    padding: 20px 80px;
    text-align: center;
    justify-content: center;
    background-color: var(--gray);
}

.sexer-review .container {
    width: 1298px;
    height: 640px;
    border: solid 2px black;
    border-radius: 15px;
}

.sexer-review .container h1 {
    font-family: 'Nunito';
    font-size: 47px;
    font-weight: 900;
    padding: 40px 0;
}

.sexer-review .container .wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}


.wrapper .icon {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 416px;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}


.icon .circle {
    width: 204px;
    height: 204px;
    margin: auto;
}

.icon .people-meaning {
    width: 360px;
    height: 416px;
    text-align: center;
    justify-content: center;
    display: block;
    margin: auto;
}

.people-meaning h3 {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
}

.people-meaning .addition,
.people-explain {
    font-family: 'Matahari';
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: justify;
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--black);
}

.people-meaning .people-explain {
    padding: 30px;
}


@media (max-width: 768px) {
    .sexer-review .icon {
        width: 100%;
        margin-bottom: 20px;
    }
}